body {
    background-color: #41C4DE;
}

.row {
   height: 100vh;
   width: 100%;
   margin-top: 13%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

#username {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
    text-align: center;
}

button {
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    font-family: 'Carter One', cursive;
}
  
button:hover {
    opacity: 0.8;
}
