@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
  padding:0;
  margin:0;  
  /* from login */
  background-color: #f9dea3;
}
.two-row-container{
  display: grid;
  grid-template-rows: 90px 40% auto;
  height: 100vh;  
  /* background-color:#f2f2f2; */
  font-family: 'Carter One', cursive;
  color: #000;
}
/* .soal-header{
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
} */
.soal{
  /* background-color:#f2f2f2; */
  font-family: 'Carter One', cursive;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content:center;
  /* amy nambahin */
  margin-top: 50px;
  padding:1rem;
 
}
.soal-logo{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
}
.soal-logo > img{
  /* width: 500px; */
  max-width: 300px;
  border: solid hsl(12, 61%, 38%);
  border-color: hsl(12, 61%, 28%);
  border-width: 10px 8px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}
.logo-letters{
  margin-top: 1rem;
  display: inline-flex;
  transform:skew(-15deg);
  
}
.logo-letter{
  display: block;
  box-shadow: 5px 5px 0px 0px hsl(249, 5%, 27%);
  min-width: 40px;
  font-size: 18pt;
  /* background-color: #000; */
  background-color: hsl(249, 5%, 47%);
  /* color: white; */
  color: #fff;
  margin-right: 10px;  
}
.space{
  display: block;
  min-width: 40px;
  font-size: 18pt;
  /* background-color: #000; */
  background-color: rgba(116, 114, 126,0);
  /* color: white; */
  color: #fff;
  margin-right: 10px;  
}
input[type=text]{
  padding:1rem;
  font-size: 16pt;
  border: solid hsl(12, 61%, 38%);
  border-color: hsl(12, 61%, 28%);
  border-width: 10px 8px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  outline: none;
}

.player{  
  margin-top: 2rem;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players{
  display: flex;  
  flex-direction: row;
  justify-content: center;
}
.player-card{
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  padding:1rem;
  padding-top: 2.5rem;
  align-self: flex-start;
  margin-right: 1rem;
  /* background-color: #fff; */
  color: white;
  position: relative;
}
.player-avatar{
  background-color: #c54f30;
  padding:1rem;
  border-radius: 10000px;  
  position: relative;
  z-index: 1;
  box-shadow: 0px 7px 0px  hsl(12, 61%, 28%);
  max-width: 100px;
}
.score{
  background-color: #c54f30;
  box-shadow: 0px 5px 0px  hsl(12, 61%, 28%);
  border-radius: 10000px;    
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.player-avatar>img{
  display: block;
  width: 100%;
}
.player-name>h2{
  padding:0;
  margin-top:1rem;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* login */

.row {
  height: 100vh;
  width: 100%;
  margin-top: 13%;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   font-family: 'Bangers', cursive;
   text-shadow: 1px 5px 0px rgba(0, 0, 0, 0.8);
   font-size: 100px;
   color: white;
   text-align: center;
   margin: 0 auto;
}

#username {
   width: 40%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   font-family: 'Carter One', cursive;
   text-align: center;
}

button {
   background-color: #333333;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 40%;
   font-family: 'Carter One', cursive;
}
 
button:hover {
   opacity: 0.8;
}